@font-face {
    font-family: 'minhafonte';
    src: url('fontes/jmh_typewriter/JMH\ Typewriter-Bold.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#F2A71B , #2181B4 33.33%, #2181B4 66.67%, #F2A71B );
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    border: 1px solid #316594;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-size: 100% 100%;
    position: relative;
}


.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informacoes {
    flex: 1;
    padding: 3rem;
}

.container__botao {
    border-radius: 16px;
    background: #316594;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #71DEF2;
}

.container__input {
    width: 100%;
    height: 100px;
    border-radius: 16px;
    background-color: white;
    border: none;
    color: #000000;
    padding: 2rem;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.container__botoes {
    display: flex;
    gap: 2em;
}

h1 {
    font-family:'minhafonte';
    font-size: 50px;
    padding-bottom: 0rem;
}

p,
button {
    font-family: 'Inter', sans-serif;
}

.texto__paragrafo {
    font-size: 23px;
    font-weight: 400;
}

button:disabled {
    background-color: #F2A71B;
}

@media screen and (max-width: 1250px) {

    h1 {
        font-size: 50px;
    }

    .container__botao {
        font-size: 20px;
    }


    .texto__paragrafo {
        font-size: 30px;
    }

    .container__imagem-secret {
        display: none;
    }

    .container__conteudo {
        display: block;
        position: inherit;
    }

    .container__informacoes {
        padding: 1rem
    }
    
    img{
        text-align: right;
    }
}
